.backApp {
  text-align: center; 
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://wallpaperplay.com/walls/full/4/d/6/64781.jpg");
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-family: cursive;
  font-weight: bolder;
  font-size: 50px;
  height: 80px;
  width: 100%;
}
.displayWizard {
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.wizard {
  border: 2px solid transparent;
  box-sizing: border-box;
  color: white;
  width: 400px;
  height: 440px;
}

.cards {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 0; 
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0;
}

.army {
  background: transparent;
  color: whitesmoke;
  margin-top: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  height: 200px;
  width: 150px;
  margin: 0 auto;
}

button {
  background-color:maroon;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.8;
}
button:hover {opacity: 1}

.deleteicon {
  height: 15px;
  width: 15px;
}

